.description{
    font-size:27px;
}

/* .nutritionMainText{
font-size: 27px;
flex-direction: row;
} */

/* .nutritionSecondaryText{
    font-size: 18px;
    flex-direction: row;
    } */

/* .nutritionMainNumber{
    color:green;
    font-size: 48px;
} */

/* .nutritionSecondaryNumber{
    color:green;
    font-size: 36px;
} */
