/* ANCHOR member-subnav*/
.expand-button {
  display: none !important;
  margin-left: 15px;
  margin-right: 15px;
}
.expand-button button {
  width: 100%;
}
.sub-nav-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sub-nav-container {
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
  max-width: 650px;
  min-width: 650px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  /* gap: 10px; */
  align-items: center;
  background: var(--main-black);
}
.sub-nav-link {
  position: relative;
  padding: 15px;
  color: var(--main-white);

  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.sub-nav-active {
  position: absolute;
  inset: 0;
  background: var(--main-white);
  border-radius: 3px;
}

.sub-nav-active + h6 {
  color: var(--main-white);
}
.sub-nav-title {
  position: relative;
  z-index: 10;
  mix-blend-mode: exclusion;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.sub-nav-link:hover {
  color: var(--deepgrey);
}
@media screen and (max-width: 768px) {
  .expand-button {
    display: block !important;
    text-align: center;
  }
  .sub-nav-section {
    display: none;
  }
  .sub-nav-section.expand {
    margin-top: 10px;
    display: flex;
  }
  .sub-nav-container {
    /* scroll-margin-inline-start: 0; */
    /* overflow-y: scroll; */
    flex-direction: column;
    min-width: 0;
  }
  .sub-nav-container.expand {
  }
  .sub-nav-link {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}
/* ANCHOR member page : /login ,/forgot-password ,/sign-up ,/verify/[token] */
.bg {
  position: absolute;
  z-index: -1;
  background-image: url('/static/member/cover-1920.jpg');
  background-size: cover;
  background-position: center center;
  filter: blur(3px) opacity(70%);
  width: 100vw;
  height: 100vh;
  /* min-height: 630px; */
}
.panel-section {
  position: absolute;
  min-height: 630px;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translateY(-50%) translateX(-50%);
  align-items: center;
  perspective: 600px;
  transform-style: preserve-3d;
}
.logo-container {
  position: relative;
  padding: 100px;
  align-self: stretch;
  transform: rotateY(180deg);
  transform-origin: center right;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: flip 1s ease-out forwards;
}
.CUITextField-number-input input::-webkit-outer-spin-button,
.CUITextField-number-input input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
@keyframes flip {
  0% {
    opacity: 0;
  }

  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.logo-container-bg {
  position: absolute;
  inset: 0;
  background-color: var(--main-white);
  filter: opacity(80%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: -10;
}
.logo {
  width: 250px;
  height: 100%;
}
.right-panel {
  position: relative;
  display: flex;
  min-width: 500px;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 20px;
}
.right-panel-bg {
  position: absolute;
  inset: 0;
  background-color: var(--main-white);
  filter: opacity(80%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: -10;
}
.right-logo {
  display: none;
}
.back-cover {
  position: absolute;
  inset: 0;
  background-color: var(--main-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: center left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: flip-cover 1s ease-in forwards;
}
.front-cover {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--main-black);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: center left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: flip-cover 1s ease-in forwards;
}
.google-login {
  cursor: pointer;
  display: block;
  margin: 10px auto 0 auto;
}
.sign-up-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@keyframes flip-cover {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
    transform: rotateY(-60deg);
  }
  50% {
    opacity: 0.25;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
@media screen and (max-width: 1024px) {
  .logo-container,
  .back-cover,
  .front-cover {
    display: none;
  }
  .right-logo {
    display: inline;
  }
  .right-logo svg {
    width: 250px;
    height: 100%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .panel-section {
    padding: 16px;
    width: 90%;
  }
  .right-panel {
    gap: 5px;
    padding: 20px;
    width: 100%;
    min-width: 300px;
  }
  .back-cover,
  .fornt-cover {
    display: none;
  }
}
/* ANCHOR member-center */
.center-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px 64px;
}
.photo {
  position: relative;
  background-color: var(--main-black);
  cursor: pointer;
  max-width: 500px;
  width: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.2s ease-in;
}
.photo:hover {
  transform: scale(1.01);
}
.photo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.photo .camera {
  fill: var(--main-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.info {
  background: var(--main-white);
  padding: 15px;
  border-radius: 3px;
  width: 50%;
  max-width: 500px;
}
.date-picker {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}
.crop-container {
  /* width: 100%; */
}
.crop-container > div:first-child {
  /* width: 100%; */
}
.crop-container div:first-child img {
  /* width: 100%; */
}
@media screen and (max-width: 768px) {
  .center-container {
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .photo {
    max-width: none;
    width: 100%;
    cursor: pointer;
  }
  .info {
    max-width: none;
    width: 90%;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  .button-container button {
    margin: 0;
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .center-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .info {
    max-width: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
