.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 80px 64px;
  gap: 20px;
}
.wrapper {
  width: 35%;
  flex-shrink: 0;
  /* z-index: -10; */
}
.map-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.title {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 1439px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    width: 95%;
    order: 2;
  }
  .accordin-container {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 50px 15px;
  }
  .title {
    font-size: 16px;
  }
  .detail p {
    font-size: 14px;
  }
}
